In [27]:
import pandas as pd

eicu_data = pd.read_csv("../data/one_hot_age_eicu_data.csv")

In [28]:
eicu_data.head()

,Unnamed: 0,patientunitstayid,hospitalid,Death,unitdischargeoffset,ventilation,sepsis,2 ML - METOCLOPRAMIDE HCL 5 MG/ML IJ SOLN,3 ML VIAL : INSULIN REGULAR HUMAN 100 UNIT/ML IJ SOLN,METOPROLOL SUCCINATE ER 50 MG PO TB24,...,SODIUM CHLORIDE BACTERIOSTATIC 0.9 % INJ SOLN,Gender,< 30,30 - 39,40 - 49,50 - 59,60 - 69,70 - 79,80 - 89,> 89
0,0,141168.0,59.0,1.0,3596.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1,141194.0,73.0,0.0,4813.0,0.0,0.0,1.0,1.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,2,141233.0,73.0,0.0,15685.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,3,141244.0,73.0,0.0,3835.0,0.0,0.0,1.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
4,4,141265.0,63.0,0.0,6068.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [29]:
target_df = eicu_data.loc[eicu_data["hospitalid"] == 420.0]

In [30]:
target_df.head()

,Unnamed: 0,patientunitstayid,hospitalid,Death,unitdischargeoffset,ventilation,sepsis,2 ML - METOCLOPRAMIDE HCL 5 MG/ML IJ SOLN,3 ML VIAL : INSULIN REGULAR HUMAN 100 UNIT/ML IJ SOLN,METOPROLOL SUCCINATE ER 50 MG PO TB24,...,SODIUM CHLORIDE BACTERIOSTATIC 0.9 % INJ SOLN,Gender,< 30,30 - 39,40 - 49,50 - 59,60 - 69,70 - 79,80 - 89,> 89
47508,47508,3033830.0,420.0,0.0,9266.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
47509,47509,3033831.0,420.0,0.0,10752.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
47510,47510,3033834.0,420.0,0.0,4429.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
47511,47511,3033839.0,420.0,0.0,5804.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
47512,47512,3033849.0,420.0,0.0,4130.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [31]:
target_df.shape

(2645, 1415)

In [32]:
target_x = target_df.iloc[:, 7:]
target_y = target_df.iloc[:, 5]

In [33]:
source_df = eicu_data.loc[(eicu_data["hospitalid"] == 110.0) | (eicu_data["hospitalid"] == 122.0) | (eicu_data["hospitalid"] == 167.0) | (eicu_data["hospitalid"] == 183.0) | (eicu_data["hospitalid"] == 199.0) | (eicu_data["hospitalid"] == 243.0) | (eicu_data["hospitalid"] == 252.0) | (eicu_data["hospitalid"] == 281.0) | (eicu_data["hospitalid"] == 283.0) | (eicu_data["hospitalid"] == 416.0) | (eicu_data["hospitalid"] == 443.0)]

In [34]:
source_df.head()

,Unnamed: 0,patientunitstayid,hospitalid,Death,unitdischargeoffset,ventilation,sepsis,2 ML - METOCLOPRAMIDE HCL 5 MG/ML IJ SOLN,3 ML VIAL : INSULIN REGULAR HUMAN 100 UNIT/ML IJ SOLN,METOPROLOL SUCCINATE ER 50 MG PO TB24,...,SODIUM CHLORIDE BACTERIOSTATIC 0.9 % INJ SOLN,Gender,< 30,30 - 39,40 - 49,50 - 59,60 - 69,70 - 79,80 - 89,> 89
5526,5526,309973.0,110.0,0.0,3253.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5527,5527,310020.0,122.0,0.0,6071.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5528,5528,310319.0,110.0,0.0,8521.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5529,5529,310386.0,122.0,0.0,21514.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5530,5530,310562.0,122.0,0.0,3852.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [35]:
source_df.shape

(14911, 1415)

In [36]:
source_df.head()

,Unnamed: 0,patientunitstayid,hospitalid,Death,unitdischargeoffset,ventilation,sepsis,2 ML - METOCLOPRAMIDE HCL 5 MG/ML IJ SOLN,3 ML VIAL : INSULIN REGULAR HUMAN 100 UNIT/ML IJ SOLN,METOPROLOL SUCCINATE ER 50 MG PO TB24,...,SODIUM CHLORIDE BACTERIOSTATIC 0.9 % INJ SOLN,Gender,< 30,30 - 39,40 - 49,50 - 59,60 - 69,70 - 79,80 - 89,> 89
5526,5526,309973.0,110.0,0.0,3253.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5527,5527,310020.0,122.0,0.0,6071.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5528,5528,310319.0,110.0,0.0,8521.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5529,5529,310386.0,122.0,0.0,21514.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
5530,5530,310562.0,122.0,0.0,3852.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0

In [37]:
source_x = source_df.iloc[:, 7:]
source_y = source_df.iloc[:, 5]

In [38]:
source_x.shape

(14911, 1408)

In [39]:
source_x.to_csv("../data/hospital_combined_x_source.csv", index=False)
source_y.to_csv("../data/hospital_combined_y_source.csv", index=False)
target_x.to_csv("../data/hospital_combined_x_target.csv", index=False)
target_y.to_csv("../data/hospital_combined_y_target.csv", index=False)